  /* Ensure the body and html take up the full height */
body{
  justify-content: center ;
}
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.background {
    background-image: url('images/windows.jpg');
    background-size: cover;
    background-position: center;
}

.flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.iconsLeft {
  display: flex;
  flex-direction: column;
}
.iconsRight {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

.window {
  border: 2px solid #000;
  position: absolute;
  top: 5px;
  left: 150px;
  background-color: #c0c0c0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: none; /* Initially hidden */
}

.title-bar {
  background-color: #000080;
  color: #fff;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.close-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
}

.content {
  background-color: #fff;
  height: calc(100% - 30px);
  overflow: hidden;
}

.disabled {
  opacity: 0.5; /* Grey out the icon */
  cursor: not-allowed; /* Change cursor to indicate non-clickable */
}

/* Style for the price table */
.price-table {
  width: 300px;
}

.price-table table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.price-table th, .price-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.price-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.music-player {
  padding: 10px;
  background-color: #c0c0c0; /* Classic gray background */
  border: 2px solid #808080; /* Dark gray border */
  border-radius: 0; /* No border radius for a classic look */
  box-shadow: none; /* No shadow */
  font-family: 'Tahoma', sans-serif; /* Classic Windows font */
}

#songList {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #808080; /* Dark gray border */
  background-color: #ffffff; /* White background */
}

#songList li {
  padding: 4px 8px;
  cursor: pointer;
  border-bottom: 1px solid #808080; /* Dark gray border */
  background-color: #e0e0e0; /* Light gray background */
}

#songList li:hover {
  background-color: #d0d0d0;
}

#audioPlayer {
  width: 100%;
  border: 1px solid #808080; /* Dark gray border */
  background-color: #e0e0e0; /* Light gray background */
  color: #000000; /* Black text */
  border-radius: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove default border */
  overflow: hidden; /* Prevent overflow */
}
.file-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.file-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.file-image {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.file-name {
  font-size: 14px;
  color: #000;
}

.preview-window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: none;
}

.preview-window img {
    width: 300px;
    max-height: 500px;
}

.arrow{
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
  margin: 20px
}


.arrow.left {
  border-right: 15px solid #000080; /* Light blue typical of Windows XP */
}
.arrow.right {
  border-left: 15px solid #000080; /* Light blue typical of Windows XP */
}

.arrow.down{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000080;
  margin: 0px;
margin-top: 5px;
box-shadow: none;
border-bottom: none;
  }

.windowContainer {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.windowContainer p {
  margin-bottom: 20px;
}
#confirmationWindow body{
  display: block;
}

.contact {
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
}

#icon {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.icon {
  margin: 10px;
  cursor: pointer;
  display: inline-block;
}


@media (max-width: 400px) {
.iconsLeft{
  flex-direction: row;}
.main-container {
    display: block;
  }
*{
  font-size: 20px;
}
  .window {
    width: 200px;
    left: 0px;
    top: 0px;
  }
  .windowContainer {
    width: 80%;
  }


  .intro-text {
    padding-top: 80px;
    margin-bottom: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    order: 1;
    padding: 10px;
    gap: 10px;
  }

  .modal-content {
    width: 95%; /* On smaller screens, set width to 95% */
    max-width: none; /* Remove max-width so it adjusts fully to the screen */
  }

  .tools {
    gap: 0px;
    padding: 0px;
  }
  button .paintTool {
    padding: 10px;
  }

  select,
  #submit {
    align-self: center;
    width: 100%;
    padding: 5px;
  }

  .title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  body {
    justify-content: flex-start;
    margin: 10px;
  }
}